p: .row
    .col-sm-6
        a(href="#{url_for(config.designer_url)}/design/bronze/select"): img.img-responsive(src="#{url_for('/images/banner1.jpg')}" style="width: 100%" alt="Design a bronze marker.")
    .col-sm-6
        a(href="#{url_for(config.designer_url)}/design/marker/select"): img.img-responsive(src="#{url_for('/images/banner2.jpg')}" style="width: 100%" alt="Design a granite marker.")