footer.footer
    .container
        .col-sm-4
            | Affordable Markers &copy; 2016.
        .col-sm-5
            ul
                li: a(href="#{url_for('/examples')}") Examples of our products
                li: a(href="#{url_for('/our-guarantee')}") Best prices guaranteed
                li: a(href="#{url_for('/warranty')}") Lifetime warranty                
        .col-sm-3
            div(style="height: 45px")
                div(style="float: left;margin-right: 10px")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x(style="color: #4a7355")
                        i.fa.fa-phone.fa-stack-1x.fa-inverse
                div
                    | Call Toll Free
                    br
                    a(href="tel://+18669570399") 866-957-0399

            div(style="height: 45px")
                div(style="float: left;margin-right: 10px")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x(style="color:#98483c")
                        i.fa.fa-map-marker.fa-stack-1x.fa-inverse
                address
                    a(href="//www.google.com/maps?q=Affordable+Markers,+230+Commerce+Ave,+Atwater,+CA+95301")
                        span 230 Commerce Ave
                        br
                        span Atwater, CA. 95301