div
    script(type="text/javascript").
        AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','728','height','581','src','aff_movie','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','aff_movie' ); //end AC code
    embed(width="728" height="581" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" src="http://www.affordable-markers.com/flash/aff_movie.swf" type="application/x-shockwave-flash" wmode="transparent" quality="high") 
    noscript(style="padding-top:2px;").
        &lt;object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="728" height="581"&gt;
            &lt;param name="movie" value="http://www.affordable-markers.com/flash/aff_movie.swf" /&gt;
            &lt;param name="quality" value="high" /&gt;
            &lt;param name="wmode" value="transparent" /&gt;
            &lt;embed src="aff_movie.swf" width="728" height="581" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"&gt;&lt;/embed&gt;
        &lt;/object&gt;