<?xml version="1.0"?>
<configuration>
  <location path="flash/index.htm">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://designer.affordablemakers.com" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="pricing.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="pricing" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="about_us.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="about" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="contact_us.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="contact" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="faq.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="faq" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="testimonials.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="testimonials" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="simple/index.htm">
    <system.webServer>
      <httpRedirect enabled="false" destination="" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="uprights.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="categories/Uprights" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="bronze.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="categories/Bronze" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="slants.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="categories/Slants" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="bevel.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="categories/Bevels" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="flats.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="categories/Flats" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="pets.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="categories/Pets" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="ourproducts.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="examples" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="guarantee.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="our-guarantee" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="lifetime.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="warranty" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />    
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>    
  </system.webServer>
</configuration>
